.app-picker {
  .ant-select-selector {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
  }
  .ant-picker {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}
